In [12]:
import pandas as pd
train_one = pd.read_csv("data/train3.csv")
test_one = pd.read_csv("data/test3.csv")
result = pd.read_csv("data/result.csv")

In [19]:
import os
path = os.path.dirname(os.getcwd())
path = os.path.join(path, "ProcessedData")
train = pd.read_csv(os.path.join(path,"merged_train.csv"))
test = pd.read_csv(os.path.join(path,"merged_test.csv"))

In [20]:
train[train['등록차량수']==13]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,...,세대당_인구,남/여비율,남/여_0~19세,남/여_20~39세,남/여_40~69세,남/여_70세이상,0~19세_비율,20~39세_비율,40~69세_비율,70세이상_비율
2214,C2059,26,아파트,경기도,행복주택,16.34,9,1.0,L,27961000.0,...,2.38,0.955,1.893623,0.98253,0.929198,0.711159,0.157894,0.301479,0.466387,0.07424
2215,C2059,26,아파트,경기도,행복주택,16.34,3,1.0,L,27961000.0,...,2.38,0.955,1.893623,0.98253,0.929198,0.711159,0.157894,0.301479,0.466387,0.07424
2216,C2059,26,아파트,경기도,행복주택,36.79,14,1.0,L,64147000.0,...,2.38,0.955,1.893623,0.98253,0.929198,0.711159,0.157894,0.301479,0.466387,0.07424

In [22]:
test[test['단지코드']=='C2152']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,지하철역,...,세대당_인구,남/여비율,남/여_0~19세,남/여_20~39세,남/여_40~69세,남/여_70세이상,0~19세_비율,20~39세_비율,40~69세_비율,70세이상_비율
814,C2152,120,아파트,강원도,영구임대,24.83,66,9,C,0.0,...,2.1,1.09,1.980978,1.425532,1.157671,0.608753,0.170711,0.258936,0.425344,0.145009
815,C2152,120,아파트,강원도,영구임대,33.84,54,9,C,0.0,...,2.1,1.09,1.980978,1.425532,1.157671,0.608753,0.170711,0.258936,0.425344,0.145009

In [26]:
test_one[test_one['단지코드']=='C2152'].iloc[:,15:30]

,sub_1,sub_dist_0,sub_dist_1,sub_dist_2,cluster,apt임대료min,apt임대료25%,apt임대료50%,apt임대료75%,apt임대료max,apt임대보증금min,apt임대보증금25%,apt임대보증금50%,apt임대보증금75%,apt임대보증금max
144,0,0,0,1,112559.548023,87040.0,94937.5,102835.0,110732.5,118630.0,8560000.0,9336750.0,10113500.0,10890250.0,11667000.0

In [24]:
test_one[test_one['단지코드']=='C2152'].iloc[:,:15]

,단지코드,지하철역,버스정류장,연면적,위도,경도,총인구수,세대당_인구,공가수_비율,세대당_가능주차면수,0~19 인구수,20~39 인구수,40~69 인구수,70세이상 인구수,sub_0
144,C2152,0.0,1,0.0,127.702993,38.114413,8365.0,2.1,0.075,0.333333,20.485356,31.072325,51.041243,17.401076,1

In [8]:
dr = ['store임대료min','store임대료25%','store임대료50%','store임대료75%','store임대보증금min','store임대보증금25%','store임대보증금50%','store임대보증금75%']
train_one = train_one.drop(dr,axis=1)
test_one = test_one.drop(dr,axis=1)

In [5]:
train_one.corr()['등록차량수']

지하철역            -0.006916
버스정류장            0.112548
등록차량수            1.000000
연면적              0.224758
위도              -0.101287
경도               0.123968
총인구수             0.280870
세대당_인구           0.404707
공가수_비율          -0.295152
세대당_가능주차면수       0.524203
0~19 인구수         0.702415
20~39 인구수        0.646592
40~69 인구수        0.531638
70세이상 인구수        0.103343
sub_0           -0.226726
sub_1            0.205572
sub_dist_0      -0.097327
sub_dist_1       0.229555
sub_dist_2      -0.122546
cluster          0.466111
apt임대료min        0.381320
apt임대료25%        0.419015
apt임대료50%        0.476237
apt임대료75%        0.490007
apt임대료max        0.522771
apt임대보증금min      0.385165
apt임대보증금25%      0.396826
apt임대보증금50%      0.397059
apt임대보증금75%      0.396695
apt임대보증금max      0.351107
store임대료min     -0.119664
store임대료25%     -0.121093
store임대료50%     -0.126093
store임대료75%     -0.129570
store임대료max     -0.140509
store임대보증금min   -0.131039
store임대보증금25%   -0.151409
store임대보증금50%   -0.163832
store임대보증금75%   -0.180057
store임대보증금max   -0.185611
apt전용면적min       0.314641
apt전용면적25%       0.376296
apt전용면적50%       0.425084
apt전용면적75%       0.464575
apt전용면적max       0.505539
store전용면적mean   -0.299257
store전용면적std    -0.230576
Name: 등록차량수, dtype: float64